#myDIV {
  width: auto;
  height: auto;
  background: purple;
  animation: mymove 5s infinite;
}

@keyframes mymove {
  50% {background-color: gold;}
}

#myDIV2 {
  width: auto;
  height: auto;
  background: Black;
  animation: mymove2 5s infinite;
}

@keyframes mymove2 {
  50% {background-color: maroon;}
}
.footer {
	width: 100%;
	height: 20px;
	margin-top: 10px;
  color: black;
	text-align-last: center;
  font-style: italic;
  font-size: .55em;
}

.body {

	font-size: 20px;
	color: white;
}

.he1 {
	font-family: "Arial Black", Gadget, sans-serif;
	/* font-family: Lucida Console, Courier, monospace; */
	font-size: 5.5vw;
  text-align: center;
  font-weight: bold;
  /* margin-top: 100px; */
	/* margin-bottom: 80PX; */
	padding-bottom: 100px;
	 padding-top: 30px;
}
.he2 {
	text-align: center;
	font-family: Lucida Console, Courier, monospace;
  margin-top: 50px;
	margin-bottom: 40px;
  font-size: 5vw;
	font-weight: bold;
}
.textCenter {
	color:  white;
	text-align: center;
}
.para{
	font-family: Arial, Helvetica, sans-serif;
}
